.landing-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 95vh;
}

.landing-page-header {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #bd6b73;
	color: #fcfcff;
	justify-content: space-evenly;
}

.landing-page-body {
	display: flex;
	overflow: auto;
	align-items: center;
	flex-direction: column;
	background-color: #c6c8ee;
	width: 100%;
	height: fit-content;
}
